@model ReviewListingViewModel

<div class="col-md-2">
    <img src="@Model.Author.ProfilePicture"
         style="width: 150px; height: 80px;"
         class="d-block w-100" 
         alt="slide1">
</div>
<div class="col-md-10">
    <dl class="row mb-0">
        <dt class="col-sm-6 font-weight-bold text-capitalize text-left">
            <a class="text-info"
               asp-controller="Users"
               asp-action="Details"
               asp-route-id="@Model.Author.Id">
                @Model.Author.Username
            </a>
        </dt>
        <dd class="col-sm-6 text-secondary font-italic text-right">
            <time datetime="@Model.CreatedOn.ToString("O")">
            </time>
        </dd>
    </dl>
    <p class="text-secondary font-italic mb-1" style="font-size: 13px">Rated it RATING</p>
    <p class="text-secondary font-italic" style="font-size: 13px">Reading Progress: @Model.ReadingProgress</p>
    <p>@Html.Raw(Model.SanitizedDescription)</p>
    <button id="likeReview-@Model.Id" class="btn like" onclick="createLike(@Model.Id)" href="#">
        @if (Model.UserLikedReview)
        {
            @:Unlike
        }
        else
        {
            @:Like
        }
    </button>
    <p class="text-secondary font-italic">
        <span id="reviewLikesCount-@Model.Id">@Model.Likes</span> Likes
        <i class="fas fa-circle" style="font-size: 3px"></i>
        <span class="text-right">
            <a class="text-secondary" asp-controller="Reviews" asp-action="Details" asp-route-id="@Model.Id">
                see review
            </a>
        </span>
    </p>
</div>