@using Alexandria.Web.Infrastructure.Extensions
@using Alexandria.Web.ViewModels.Reviews
@using Alexandria.Data.Models.Enums
@model ReviewsDetailsViewModel

@{
    ViewData["Title"] = "Review";
}

<script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "image paste table link code media"
        ]
    });
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <h3 class="text-left mb-4"><span class="text-info">@Model.Author.Username's Review</span> for @Model.Book.Title</h3>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-1">
            <img src="@Model.Book.PictureURL" class="d-block w-100" alt="Book Cover">
        </div>
        <div class="col-md-4">
            <h4 class="font-weight-bold text-capitalize text-left">
                <a class="text-dark" asp-controller="Books" asp-action="Details" asp-route-id="@Model.Book.Id">
                    @Model.Book.Title
                </a>
                <span class="text-secondary font-weight-normal">(@Model.Book.PublishedOn.Year)</span>
            </h4>
            <p class="text-left mt-1">
                by <a class="text-dark"
                      asp-controller="Authors"
                      asp-action="Details"
                      asp-route-id="@Model.Book.Author.Id">
                    <em>@Model.Book.Author.FullName</em>
                </a>
            </p>
            <div class="row">
                <div class="col-md-6">
                    <h5 class="text-left mb-3">
                        <a class="text-dark"
                           asp-controller="Users"
                           asp-action="Details"
                           asp-route-id="@Model.Author.Id">
                            @Model.Author.Username
                        </a>
                    </h5>
                    <div class="col-md-3">
                        <img src="@Model.Author.ProfilePicture" class="d-block" style="width: 120px; height: 70px;" alt="Profile Picture">
                    </div>
                </div>
            </div>
            <p>@Html.Raw(@Model.SanitizedContent)</p>
            <form method="post" id="antiForgeryForm"></form>
            <button id="likeReview-@Model.Id" class="btn like" onclick="createLike(@Model.Id)" href="#">
                @if (Model.UserLikedReview)
                {
                    @:Unlike
                }
                else
                {
                    @:Like
                }
            </button>
            <hr />
            <dl class="row">
                <dt class="col-sm-4" style="font-size: 13px">
                    <i class="far fa-calendar-alt"></i>
                    Published On:
                </dt>
                <dd class="col-md-8" style="font-size: 13px">
                    <time datetime="@Model.CreatedOn.ToString("O")"></time>
                </dd>
                <dt class="col-sm-4" style="font-size: 13px">
                    <i class="fas fa-bookmark"></i>
                    Reading Progress:
                </dt>
                <dd class="col-md-8" style="font-size: 13px">
                    @Model.ReadingProgress
                </dd>
                <dt class="col-sm-4" style="font-size: 13px">
                    <i class="fas fa-book"></i>
                    This Edition:
                </dt>
                <dd class="col-md-8" style="font-size: 13px">
                    @Model.ThisEdition
                </dd>
                <dt class="col-sm-4" style="font-size: 13px">
                    <i class="far fa-thumbs-up"></i>
                    Likes:
                </dt>
                <dd class="col-md-8" style="font-size: 13px">
                    <div id="reviewLikesCount-@Model.Id">@Model.Likes</div>
                </dd>
            </dl>
            <hr />
            <div class="btn-sec form-inline">
                @if (Model.Author.Id == this.User.GetUserId() || this.User.IsAdministrator())
                {
                    <form>
                        <button class="btn mb-5 mx-2"
                                asp-controller="Reviews"
                                asp-action="Edit"
                                asp-route-id="@Model.Id">
                            Edit
                        </button>
                    </form>
                }
                <button class="btn mb-5 mx-2" onclick="displaysCreateReviewForm()">
                    Add Comment
                </button>
                @if (Model.Author.Id == this.User.GetUserId() || this.User.IsAdministrator())
                {
                    <form>
                        <button class="btn bg-danger border-danger mb-5 mx-2"
                                asp-controller="Reviews"
                                asp-action="Delete"
                                asp-route-id="@Model.Id">
                            Delete
                        </button>
                    </form>
                }
            </div>
            <div id="AddCommentToReviewForm" style="display: none">
                <form asp-controller="Reviews" asp-action="Create" method="post">
                    <div asp-validation-summary="All" class="alert-danger"></div>

                    <input type="hidden" name="Id" value="@Model.Book.Id" />
                    <input type="hidden" name="ReviewId" value="@Model.Id" />

                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <textarea asp-for="Description" class="form-control" rows="10" placeholder="Write your review"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label asp-for="ReadingProgress"></label>
                            <select asp-for="ReadingProgress" asp-items="@Html.GetEnumSelectList<ReadingProgress>()" class="form-control"></select>
                            <span asp-validation-for="ReadingProgress" class="text-danger"></span>
                        </div>

                        <div class="col-md-6 form-group">
                            <label asp-for="ThisEdition"></label>
                            <select asp-for="ThisEdition" class="form-control">
                                <option value="True">Yes</option>
                                <option value="False">No</option>
                            </select>
                            <span asp-validation-for="ThisEdition" class="text-danger"></span>
                        </div>
                    </div>

                    <input type="submit" class="btn" />
                </form>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <h4 class="my-4 text-center">Comments</h4>
        @if (Model.Comments.Count() == 0)
        {
            <h5 class="text-center text-secondary my-4">No comments have been added yet.</h5>
            <h6 class="text-center text-secondary my-4">Be the first one.</h6>
        }
        else
        {
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="row">
                        @foreach (var comment in Model.Comments)
                        {
                            <partial name="_ReviewsListingPartial" model="comment" />
                        }
                        <div class="col-md-3"></div>
                        <div class="col-md-6 mt-3 mb-5">
                            <partial name="_PaginationPartialWithId" />
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>

@section Scripts{
    <script>
        function createLike(id) {
            var elementId = "likeReview-" + id;
            var reviewCountId = '#reviewLikesCount-' + id;
            var value = document.getElementById(elementId).innerHTML.trim();
            var reviewId = id;
            var data = { reviewId: reviewId, isLiked: true };
            var antiforgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();

            if (value.toLowerCase() == "like") {
                data.isLiked = true;
            }
            else {
                data.isLiked = false;
            }

            $.ajax({
                type: "POST",
                url: "/api/Likes",
                data: JSON.stringify(data),
                headers: {
                    'X-CSRF-TOKEN': antiforgeryToken
                },
                success: function (response) {
                    $(reviewCountId).html(response.likesCount);

                    if (value.toLowerCase() == "like") {
                        document.getElementById(elementId).innerHTML = "Unlike";
                    }
                    else {
                        document.getElementById(elementId).innerHTML = "Like";
                    }
                },
                contentType: 'application/json',
            });
        }

        function displaysCreateReviewForm() {
            $("#AddCommentToReviewForm").toggle();
        }
    </script>
}

@*<div class="col-md-2">
        <img src="@review.AuthorProfilePicture" class="d-block w-100" alt="slide1">
    </div>
    <div class="col-md-10">
        <dl class="row mb-0">
            <dt class="col-sm-6 font-weight-bold text-capitalize text-left text-info">
                @review.AuthorUsername
            </dt>
            <dd class="col-sm-6 text-secondary font-italic text-right">
                @review.CreatedOn
            </dd>
        </dl>
        <p class="text-secondary font-italic mb-1" style="font-size: 13px">Rated it RATING</p>
        <p class="text-secondary font-italic" style="font-size: 13px">Reading Progress: @review.ReadingProgress</p>
        <p>@Html.Raw(review.SanitizedDescription)</p>
        <p class="text-secondary font-italic">@review.Likes Likes</p>
    </div>*@
