@using Alexandria.Web.ViewModels.Reviews
@using Alexandria.Data.Models.Enums
@model ReviewsEditInputModel

@{
    ViewData["Title"] = "Edit Review";
}

<script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "image paste table link code media"
        ]
    });
</script>

<div class="container">
    <div class="row mb-5">
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <img src="@Model.Book.PictureURL" class="d-block w-100" alt="slide1">
        </div>
        <div class="col-md-6">
            <h6 class="font-weight-bold text-capitalize text-left">@Model.Book.Title</h6>
            <p class="text-left">
                by
                <a class="text-dark"
                   asp-controller="Authors"
                   asp-action="Details"
                   asp-route-id="@Model.Book.Author.Id">
                    <em>@Model.Book.Author.FullName</em>
                </a>
            </p>
            <hr />
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <form method="post" asp-action="Edit">
                <div asp-validation-summary="All" class="alert-danger"></div>

                <input type="hidden" name="Book.Id" value="@Model.Book.Id" />

                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control" rows="10" placeholder="Write your review"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col-md-6 form-group">
                        <label asp-for="ReadingProgress"></label>
                        <select asp-for="ReadingProgress" asp-items="@Html.GetEnumSelectList<ReadingProgress>()" class="form-control"></select>
                        <span asp-validation-for="ReadingProgress" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 form-group">
                        <label asp-for="ThisEdition"></label>
                        <select asp-for="ThisEdition" class="form-control">
                            <option value="True">Yes</option>
                            <option value="False">No</option>
                        </select>
                        <span asp-validation-for="ThisEdition" class="text-danger"></span>
                    </div>
                </div>

                <input type="submit" class="btn" value="Save" />
            </form>
        </div>
    </div>
</div>